  :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
} 




/* Modo claro (light mode) */
.light-mode {
  background-color: yellow;
  color: black;
} 

/* Modo oscuro (dark mode) */
 .dark-mode {
  background-color: red;
  color: white;
}  
