.generi {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ocupa todo el espacio disponible en su contenedor */
  height: auto; /* Altura automática para adaptarse al contenido */
}

img {
  width: 100px;
  height: 100px;
}