.material-symbols-outlined{
    font-size: 80px;
  } 
  
.star-filled {
    font-variation-settings:
    'FILL' 1;
    color: orange;
   
  }
  
.star-not-filled{
    
    font-variation-settings:
    'FILL' 0;
   
  }